# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
__pycache__

# Logs and databases
*.log
*.sql

# Environment variables
.env

# Virtual Environment
venv/
env/
ENV/

# Database
.db
sqlite.db

# Dependencies
dist/
build/
*.egg-info/
__init__.py
pip-selfcheck.json

# Jupyter Notebook
.ipynb_checkpoints

# IDE settings
.idea/
.vscode/
*.swp
*.swo
*.swm
*.swn
.DS_Store
